/* ------------------TEMPORARY------------------------- */
.temp_border {
    border: solid #332e2e;
    padding: 10px;
    margin: 8px 4px;
    box-shadow: 3px 3px;
    border-radius: 10px;
}
.temp_desc {
    color: #00080c;
}
.temp_name {
    color: #00080c;
}
.temp_square {
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    background-color: #dce5e3;
}
.temp_rectangle {
    width: 40%;
    height: 0;
    padding-bottom: 20%;
    background-color: #dce5e3;
}
.temp_button:hover {
    background-color: #c7d5d1;
}
.temp_button:active {
    background-color: #dce5e3;
}
.temp_catalog {
    display: flex;
    flex-wrap: wrap;
}
.temp_profile {
    min-width: 150px;
    width: 20%;
    height: 20%;
    padding: 0px;
}
.temp_prior_message {
    background-color: #fff7f3;
    position: fixed;
    right: 4px;
    bottom: 8px;
    color: darkred;
    border-color: darkred;
    animation: disappear 10s 1 forwards;}
@keyframes disappear {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
.temp_links {
    text-decoration: none;
    color: #00080c;
}
/* ------------------HEADER----------------------------- */
#header {
    display: flex;
    justify-content: space-between;
}
/* --------------------INDEX---------------------------- */

/* --------------------EVERYWHERE----------------------- */
body {
    background-color: #fff7f3;
}